
  
  .cripto {
    border: 1px solid rgb(58, 145, 140);
    padding: 1rem;
    background: linear-gradient(#1b3f52, #2c2d4e);
    color: #fff;
  }
  
  .cripto-name{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .cripto p{
    color: rgb(58,145,140);
  }
  
  .cripto span{
    color: antiquewhite;
  }
  
  span.cripto-up{
    color: greenyellow;
  }
  span.cripto-down{
    color: tomato;
  }