* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background: linear-gradient(to right, #243B55, #141E30);
}

.cripto-list{
    list-style: none;
    border: 1px solid #fff;
    width: fit-content;
    padding: 1em 2em;
}