* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #373950;
    background: linear-gradient(to right,#1b3f52, #2c4d4e);
    padding: 2em 5em ;
  }
  
  
  h1{
      color: rgb(255, 255, 255);
      text-align: center;
  }
  
  p{
    margin: 0;
  }